


.fout {
    color:red;
    font-weight:bold;
}

h1 {

    color:red;

}

.fotocat  {

    max-block-size: 101px;
    block-size:100px;
    max-width:100px;

}

.centerbtncat {

    align-content:center;

}

.fotodelete {
    width:35px;
    height:35px;
}

.fototoevoegen {
    width: 750px;
    height: 550px;
}

strong {
    color:olive;
}